.speech{
    font-style:normal;
    font-size: medium;
    color:black;
}
.direction{
    font-style: italic;
    font-size: small;
    color:black;
    background-color: beige;
}
.direction:hover{
    background-color: aqua;
    color: brown;
}
.ENGSTRAND{
    color:aquamarine;
}
.REGINA{
    color:blueviolet;
}

table{
    border: dashed 4px;
    overflow: auto;
    margin:50px;
    padding: 7px;
}
td, th{
    border: solid 2px;
    text-align: center;  
    padding : 15px;
}
tr{
    background-color: palegreen;
}
tr:nth-child(odd){
    background-color: palevioletred;
}

