.speech{
    font-style:normal;
    font-size: medium;
    color:black;
}
.direction{
    font-style: italic;
    font-size: small;
    color:black;
    background-color: beige;
}
.direction:hover{
    background-color: aqua;
    color: brown;
}
.name{
    color:black;
}
.ENGSTRAND{
    color:aquamarine;

}
.REGINA{
    color:blueviolet;
}






table{
    border: dashed 4px;
    overflow: auto;
    margin:50px;
    padding: 7px;
}
td, th{
    border: solid 2px;
    text-align: center;  
    padding : 15px;
}
tr{
    background-color: palegreen;
}
tr:nth-child(odd){
    background-color: palevioletred;
}
.ENGSTRAND:hover{
    text-shadow:  2px 4px 4px hotpink;
}
.REGINA:hover{
    text-shadow: 2px 4px 4px gold;
    
}
ul.navbar-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
  
  }
ul.navbar-horizontal li {
    float:left;
    color:#000;
    background-color:palevioletred;
  }
  
  ul.navbar-horizontal a {
    display:flex;
    color: black;
    padding:10px
  }
  
  ul.navbar-horizontal a:hover {  
    background-color: burlywood;
    color:black;
  }

